<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个对应的Mapper接口-->
<mapper namespace="com.zhu.Dao.UserMapper">
<!--结果集映射    -->
    <resultMap id="resultMap" type="User">
<!--    column为数据表中的字段，property是实体类中的属性-->
<!--        <result column="id" property="id"/>-->
<!--        <result column="name" property="name"/>-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById" parameterType="int" resultMap="resultMap">
        select * from mybatis.user where id = #{id}
    </select>

<!--    分页1-->
    <select id="getUserByLimit" resultMap="resultMap">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

<!--    分页2-->
    <select id="getUserByRowBounds" parameterType="map" resultMap="resultMap">
         select * from mybatis.user
    </select>

</mapper>