<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间绑定一个对应的Mapper接口-->
<mapper namespace="com.zhu.Dao.UserMapper">

    <select id="getUserLike" resultType="com.zhu.POJO.User">
        select * from mybatis.user where name like #{value}
    </select>

    <select id="getUserList" resultType="com.zhu.POJO.User">
        select * from mybatis.user
    </select>

    <select id="getUserById" parameterType="int" resultType="com.zhu.POJO.User">
        select * from mybatis.user where id = #{id}
    </select>

<!--    对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.zhu.POJO.User">
        insert into mybatis.user (id, name, pwd) value (#{id},#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="com.zhu.POJO.User">
        update mybatis.user set name = #{name},pwd =#{pwd} where id =#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id =#{id}
    </delete>
</mapper>